/*Codes By Mahdi Tasha*/
/*Variables*/
:root {
    --purple: #5f84f6;
    --dark-purple: #4a66c3;
    --light: #f5f6fb;
    --darker-light: #8b8b90;
}

/*Default Settings*/
button {cursor: pointer;}
a {text-decoration: none;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

/*Styles*/
.w-100 {width: 100%;}
.w-50 {width: 50%;}
.w-30 {width: 30%;}
.w-20 {width: 20%;}
.w-80 {width: 80%;}
.d-flex {display: flex;}
.d-inline-flex {display: inline-flex;}
.c-purple {color: var(--purple);}
.bg-purple {background-color: var(--purple)}
.bg-light {background-color: var(--light);}
.bg-white {background-color: white;}
.c-white {color: white;}
.c-light {color: var(--light);}
.p-1 {padding: 1rem;}
.p-dot-5 {padding: .5rem;}
.jc-center {justify-content: center;}
.ai-center {align-items: center;}
.flex-d-c {flex-direction: column;}
.mr-dot-5 {margin-right: .5rem;}
.mr-1 {margin-right: 1rem;}
.ml-1 {margin-left: 1rem;}
.mb-1 {margin-bottom: 1rem;}
.mb-dot-5 {margin-bottom: .5rem;}
.mt-1 {margin-top: 1rem;}
.mt-2 {margin-top: 2rem;}
.mt-dot-5 {margin-top: .5rem;}
.b-none {border: none;}
.rounded {border-radius: .5rem;}
.hover-bg-purple-dark:hover {background-color: var(--dark-purple);}
.transition {transition: .3s;}
.list-unstyled {list-style: none;}
.bg-none {background-color: unset;}
.left-side-list-item > a > button {border-right: 1px solid transparent;border-left: none;border-top: none;border-bottom: none;color: #878787;}
.left-side-list-item.active > a > button {border-right: 2px solid var(--purple);color: var(--purple);}
.left-side-list-item:hover {background-color: #e2e2e2;}
.left-side-list-item:hover  > a > button{color: var(--purple);}
.jc-sb {justify-content: space-between;}
.jc-start {justify-content: start;}
.ta-center {text-align: center;}
.minh-100vh {height: 100vh;}
.fs-3 {font-size: 3rem;}
.w-60 {width: 60%;}
.c-darker-light {color: var(--darker-light);}
.main-section-top-items {border-bottom: 1px solid var(--light);}
.main-section-top-items.active {border-bottom-color: var(--purple);color: var(--purple);}
.fw-bold {font-weight: bold;}
.d-grid {display: grid;}
.col-2 {grid-template-columns: repeat(2, 1fr);}
.gap {gap: .5rem;}
.col-2-item {grid-column: span 2;}
.bg-img-1 {background-image: url("img/img1.jpeg");}
.bg-img-2 {background-image: url("img/img2.jpg");}
.bg-img-3 {background-image: url("img/img3.jpg");}
.bg-cover {background-size: cover;}
.bg-blur {background: rgba( 255, 255, 255, 0.15 );box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );backdrop-filter: blur( 20px );-webkit-backdrop-filter: blur( 20px );border: 1px solid rgba( 255, 255, 255, 0.18 );}
.bg-blur:hover {background: rgba( 255, 255, 255, 0.35 );}
.w-2 {width: 2rem;}
.h-2 {height: 2rem;}
.circle {border-radius: 100%;}
.h-30vh {height: 30vh;}
.bg-light-purple {background-color: #c8d2ff;}
.mb-2 {margin-bottom: 2rem;}
.h-100 {height: 100%;}
.bg-light-green {background-color: #D8F6F6;}
.c-green {color: #57bbbb;}
.bg-light-orange {background-color: #FFEDD8;}
.c-orange {color: #ce8b3d;}
.h-40vh {height: 40vh;}
.border-1-solid-light {border: 1px solid var(--light);}
.hover-bg-dark-light:hover {background-color: #aeafb3;}
.hover-bg-dark-light-c-white:hover {background-color: #aeafb3;color: white;}
.cur-p {cursor: pointer;}

/*Media Querys*/
@media (max-width: 1092px) {.media-1092-flex-d-c {display: flex;flex-direction: column;}}
@media (max-width: 1243px) {.media-1243-w-50 {width: 50%;}}
@media (max-width: 912px) {
    .media-912-flex-d-c {display: flex;flex-direction: column;}
    .media-912-ai-start {align-items: start;}
    .media-912-mb-dot-5 {margin-bottom: .5rem;}
    .media-912-mb-1 {margin-bottom: 1rem;}
}

@media (max-width: 781px) {
    .media-781-d-none {display: none;}
    .media-781-flex-d-c {display: flex;flex-direction: column;}
    .media-781-w-100 {width: 100%;}
    .media-781-jc-center {justify-content: center;}
    .media-781-ai-center {align-items: center;}
    .media-781-ta-center {text-align: center;}
}

@media (max-width: 561px) {
    .media-561-col-1 {grid-template-columns: repeat(1, 1fr);}
    .media-561-col-1-item {grid-column: span 1;}
    .media-561-h-40vh {height: 40vh;}
}

@media (max-width: 464px) {.media-464-d-none {display: none;}}